  // front-page.less

.home-feature-carousel {
  



  .feature-cell {
    width: 100%;
    height: 100%;
    background-color: @purple;
    height: 670px;  

    @media (max-width: @screen-sm-max) { 
      height: 500px;
    }

    @media (max-width: @screen-xs-max) { 
      height: 300px;
    }

    .background-image {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: auto;

       @media (max-width: @screen-sm-max) { 
       background-position: left center;
      }
    }

   
    
    a {
      color: inherit;

    }

    .title-area {      
      color: @white;          
      width: 60%;
      bottom: 15%;
      position: absolute;
      text-align: left;
      padding-left: 15%;
      padding-right: 15px;

      h2{
        font-size: 60px;
        font-family: 'Merriweather', serif;
        line-height: 1;
        padding-right: 5%;
        
      }

      p {
        color: @white;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        font-size: 17px;
        line-height: 1.7;
      }

      .tag-list {        
        list-style:none;
        text-transform: uppercase;
        text-shadow: none;
        text-align: right;

        a {

          &:hover {
            text-decoration: underline;
          }

        }

        li{                    
          display:inline-block;  
          cursor:pointer;

           &:after {
            content: '  |   ';
            color: @darkgold;
          }
        

        &:last-child {
          &:after {
            content: '';
          }

        }

        }
        
      }


    }

  }

  .flickity-page-dots {
    bottom: 25px;

    .dot {
      background-color: @white;
      width: 20px;
      height: 20px;
    }
  }



}






.home-high {		
  margin: 20px 0;
  .make-row();


.carousel-cell {
	width: 33%;
  height: 250px;
  margin-right: 10px;
  counter-increment: gallery-cell;
  border-right: 2px dotted;
  padding: 10px 15px;

  img{
    width: 104px;
    height: 104px;
    float: left;
    margin-right: 14px;
    margin-bottom: 96px;

  }


/* Medium devices (desktops, 992px and up) */
  @media (max-width: @screen-sm-max) { 
  width: 100%;
 }

	}

} //.home-high


.copy-block {
  padding-right: 10px;
}


 .category {
  line-height: 0;
  margin-bottom: 8px;


  a {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 1.2;
    letter-spacing: 1px;
    color: @lightgray;
    text-transform: uppercase;    

    &:hover {
      text-decoration: underline;
    }
    

    }

  }

  h3 {
    font-weight: 900;
    font-size: 20px;
    line-height: 1.2;
    color: @janegray;
    margin: 0 0 2px 0;

    a {
      color: inherit;

      &:hover {
        text-decoration: underline;
        color: inherit;
      }
    }
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: @janegray;    
    margin-bottom: 7px;

    &.excerpt {
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      line-height: 1.4;
      margin-bottom: 15px;
    }

  }



//The Hub

@import "hub.less";


.home-low {  
  .make-row();
  padding: 15px 0 15px;


  .current-issue {
    .make-sm-column(2.5);
    text-align: center;
    border-right: 2px dotted;
    padding-left: 20px;
    padding-right:0;

     @media (max-width: @screen-xs-max) { 
      // padding-left:15px;
      // padding-right:15px;
    }
    

    p {
      margin: 20px 0 15px -30px;
      text-transform: uppercase;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 13px;
      line-height: 1.2;
      letter-spacing: 1px;
      color: @lightgray;

    }

    a.pdf-link {    
      margin: 15px 0 10px -74px;
      text-transform: uppercase;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 13px;
      line-height: 1.2;
      letter-spacing: 1px;
      color: @lightgray;
    
    }

    

  }

  .feature-row{
    margin-bottom: 30px;

  .flickity-prev-next-button {
    background: none;

    &.previous{
    left: -3px;
    }

  &.next {
    right: 30px;
  }

  }



    .make-sm-column(9.5);

    .carousel-cell {
      padding: 20px;
      width: 25%;
      height: 270px;
      margin-right: 10px;
      counter-increment: gallery-cell;
      border-right: 2px dotted;


    @media (max-width: @screen-sm-max) { 
    width: 100%;
    }
  }

}




}