// Header.less

.columns-navbar {
    position: relative;

    .masthead-search-header{
        .make-row();
    }


    .masthead {
        .make-sm-column(9);  

        .masthead-logo {
            position: relative;
            height: 91px;            
            padding: 10px 0;

            @media (max-width: @screen-xs-min) {                        

             height: 65px;

         }

         @media (min-width: 320px) and (max-width: 374px) {                        
            height: 46px;
            }


         .columns-logo{
            display: inline-block;
            height: 100%;
            height: 91px;
            margin-right: 5px;

            img {
                width: 100%;
                height: 91px;
            }


            @media (max-width: @screen-sm-max) { 
                margin-right: -15px;
                img {
                    width: 90%; 
                }


            }

            @media (max-width: @screen-xs-max) { 
             width: 100%;
             height: auto;
             margin-right: 0;
             margin-bottom: -24px;                       

             img {
                width: 100%;
                height: 82px;
            }

        }

        @media (min-width: 375px) and (max-width: @screen-xs-min) {                        

         img {

            height: 68px;
        }

    }

    @media (min-width: 320px) and (max-width: 374px) {                        

     img {
        margin-top:5px;
        height: 53px;
    }

}
}

.subtitle {             

    text-align: left;                
    padding-right:0px;
    display: inline-block;

    P {
        margin:0;                   
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 12px;
        color: @lightgray;
        line-height: 1.3;

        @media (max-width: @screen-sm-max) { 
         font-size: 11px; 
     }


 }

 @media (max-width: @screen-xs-max) { 
     text-align: center;
     width: 100%;

     p {
        font-size: 12px;
    }

}

@media (max-width: 374px) {                        
    .hide;

}

}

}






        }  //end masthead-logo

        .uwaa-branding-search {
            .make-sm-column(3); 


            .uwaa-logo {
                display: inline-block;
                float: right;
                visibility: visible;                        
                background: url(assets/logos/UWAA_Horizontal_Logo.svg);
                z-index: 1;     
                height: 70px;
                width: 105px;
                background-size: 100px 70px;        
                background-repeat: no-repeat;
                background-position-y: 6px;
                background-position-x: 6px;                
                margin-right: 20px;
                margin-top: 10px;

                @media (max-width: @screen-sm-max) { 
                 width: 89px;
                 height: 29px;
                 margin-top: 35px;
                 background-size: 83px 23px;

             }

             @media (max-width: @screen-xs-max) { 
                display: none;
                visibility: invisible;        

            }

        }

        

        .search {
            margin-top: 33px;            
            float: right;
            height: 43px;
            width: 43px;
            position: relative;

            @media (max-width: @screen-xs-max) {                                        
                margin-top: -66px;
                margin-bottom: 28px;

            }

             @media (min-width: 375px) and (max-width: @screen-xs-min) {                        
                margin-top: -48px;                
                margin-right: -9px;                

            }  

            @media (min-width: 320px) and (max-width: 374px) {                        
                margin-top: -31px;                
                margin-right: -9px;
                margin-bottom: 10px;

            }            

            .search-widescreen {
                width: 300px;
                position: absolute;
                left: 0;
                bottom: 0;
                left: -257px;
                bottom: -52px;
                z-index: 2;
                display: none;

                @media (max-width: @screen-xs-max) {                                        
                    right: 0;                        
                    bottom: -50px;

                }
            }

           

     }

 }

 .search-mobile {
             width: 100%;
             z-index: 2;
             display: none;             
             position: relative;
             margin-bottom: 5px;

         }





	}  //end masthead

    .columns-navigation-row {
        .make-row();
        border: 1px solid #999999;

        @media (max-width: @screen-xs-max) {                                        
            border:none;
        }


    }

    #navbar-button {
        height: 45px;
        width: 45px;
        background: url(assets/icons/glyphicons-517-menu-hamburger.png);
        background-size: 30px 18px;        
        background-repeat: no-repeat;
        background-position: center 75%;        
        position: absolute;
        top: 23px;
        left: 0;
        font-size: 12px;
        text-align: center;
        color: #999999;
        padding: 0;
        margin: 0;
        .hide;



        @media (max-width: @screen-xs-max) {                                        
           .show
       }

       @media (min-width: 320px) and (max-width: @screen-xs-min) {                        
        top: 14px;
        left: -7px;

    }
}

.menu-columns-navigation-container {
    .container();

    @media (max-width: @screen-xs-max) {                                        
            width: 100%;
         
        }
    



    ul {
        width: 100%;
        max-width: 750px;
        padding-left: 0;
        padding-right: 0;
        margin: 0 auto;
        list-style: none;            
        border-left-style: solid;
        border-left-width: .5px;
        border-left-color: #999999;
        display: table;

        @media (max-width: @screen-xs-max) {                                        
            width: 100%;
            display: block;
        }

        li {
            list-style: none;
            display: inline-block;
            border-right-style: solid;
            border-right-width: .5px;
            border-right-color: #999999;
            margin: 0;
            padding: 5px 0;
            display: table-cell;
            text-align: center;

            @media (max-width: @screen-xs-max) {                                        
                width: 100%;
                height: 44px;
                display: block;
            }

            &:hover, &:active {
                background-color: @purple;
                transition: 0s;

                a {
                    color: @white;
                    font-weight: bold;
                    transition: 0s;
                }                            
            }

            a {
                margin: 0;
                font-family: 'Open Sans',sans-serif;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 14px;
                color: @lightgray;
                line-height: 1.3;
                width: 100%;
                height: 100%;
                display: block;                


            }
        }


    }
    //Responisve Menu
    @media (max-width: @screen-xs-max) {                                        
        display: none;
        position: absolute;
        top: 85px;
        z-index: 2;
        background: @gray;
        margin-left: 15px;
        padding-left: 0;
        padding-right: 0;

        ul {
            border-left: none;



            li{
                padding: 8px 0;
                border-bottom: 4px solid white;
                text-align: center;
                border-right: none;


                a {
                    color: @janegray;
                    transition: 0s;    
                }
            }
        }
    }

}



#icon-search {
    cursor: pointer;
    height: 43px;
    width: 43px;

    .outer-circle {
        stroke:@janegray;




    }

    .glass, .handle {
        fill: @janegray;
    }       

}

#icon-search {

    &:hover, &:active, &.is-active {
        .outer-circle {
            stroke:@janegray;

            stroke-width: 3px;
            stroke: @darkgold;
        }
        .glass, .handle {
            fill: @purple;
            stroke-width: 2px;
        }
    }
}









