/* ---- hub ---- */

#hub {  
  width: auto; 
  height: 359px;  
  box-shadow: -1px 2px 2px @gray, 0px -2px 2px @gray;
  margin: 30px 0;

  @media (max-width: @screen-sm-max) { 
    margin: 0;
    }
}


/* ---- .element-item ---- */

.hub-item {
  position: relative;
  float: left;
  width: 198px;
  height: 178px;        
  font-size: 50px;


  &:hover {
    opacity: .7;
  }
}

.hub-item--width2 { width: 399px; }
.hub-item--height2 { height: 359px; }


/* ---- HUB Modal Box ---- */

.modal-content {
  margin: 5% auto 0;
  max-width: 740px;

  @media (max-width: @screen-sm-max) { 
      max-width: 500px;
    }

}

.hub_modal_gallery_item {
  height: auto;  
  width: 100%;
  background-color: white;

  img {
    

  }
}

.hub_modal_copy {
  padding: 15px 0;

  .category{
    margin-bottom: 10px;
  }
}