/* ---- hub ---- */

#hub {  
  width: auto; 
  height: 362px;   
}


/* ---- .element-item ---- */

.hub-item {
  position: relative;
  float: left;
  width: 198px;
  height: 178px;  
  padding: 10px;
  background: red;
  color: white;
  font-size: 50px;
}

.hub-item--width2 { width: 399px; }
.hub-item--height2 { height: 359px; }

.hub-item:nth-child(10n+0) { background: hsl(   0, 100%, 50%); }
.hub-item:nth-child(10n+1) { background: hsl(  36, 100%, 50%); }
.hub-item:nth-child(10n+2) { background: hsl(  72, 100%, 50%); }
.hub-item:nth-child(10n+3) { background: hsl( 108, 100%, 50%); }
.hub-item:nth-child(10n+4) { background: hsl( 144, 100%, 50%); }
.hub-item:nth-child(10n+5) { background: hsl( 180, 100%, 50%); }
.hub-item:nth-child(10n+6) { background: hsl( 216, 100%, 50%); }
.hub-item:nth-child(10n+7) { background: hsl( 252, 100%, 50%); }
.hub-item:nth-child(10n+8) { background: hsl( 288, 100%, 50%); }
.hub-item:nth-child(10n+9) { background: hsl( 324, 100%, 50%); }
