/* ---- hub ---- */

#hub {  
  width: auto; 
  height: 362px;   
}


/* ---- .element-item ---- */

.hub-item {
  position: relative;
  float: left;
  width: 198px;
  height: 178px;        
  font-size: 50px;

  &:hover {
    opacity: .7;
  }
}

.hub-item--width2 { width: 399px; }
.hub-item--height2 { height: 359px; }


/* ---- HUB Modal Box ---- */

.modal-content {
  margin: 25% auto 0;
  max-width: 800px;
}

.hub_modal_gallery_item {
  height: auto;
  width: 100%;
  background-color: white;

}