.archive-posts {
    .make-row();
    max-width: 1000px;
    // max-width: @columns-max-container-width;
}

.search-story-container {
    .make-md-column(6);    
    

    p {
        margin-bottom: 14.5px;
    }

    .date {
        &:extend(.published-date);
        margin: 15px 0 10px;        
    }

    .search-story-title {
        font-weight: 800;
        font-size: 22px;
        line-height: 1.2;
        color: @janegray;
        margin: 0 0 10px;

        @media (max-width: @screen-xs-min) { 
            font-size: 17px;
        }  



        a {
            color: @darkgray;
            font-family: inherit;
            font-size: inherit;
            letter-spacing: inherit;
            line-height: inherit;
            text-transform: none;

        }
    }

    hr {
         border:none;
        border-top:1px dotted @black;
        color:@white;
        background-color:@white;
        height:1px;
        width:100%;
    }
    
}

.search-header {
    &:extend(.archive-header);

    h1{
        margin-left: 10%;
        line-height: 150px;
        font-size: 60px;
        margin-top: 0;
    }

    @media (max-width: @screen-sm-min) { 
            
            height: 130px;

            h1{
                font-size: 50px;
                line-height: 137px;            

            }
            
        } 

     @media (max-width: @screen-xs-min) { 
            
            height: 90px;

            h1{
                font-size: 37px;
                line-height: 96px;            

            }
            
        } 

}

.search-thumbnail {
   &:extend(.archive-thumbnail);
}