.search {

    .search-results {
        .container();
        -webkit-transition: left .6s cubic-bezier(.19,1,.22,1);
        transition: left .6s cubic-bezier(.19,1,.22,1);
        position: relative;
        left: 0;


        &.opened {
            
            left: 250px;
            
        }
    
    }


    .result-display-controls{
        .make-md-column(6);
    }

    .pagination-controls{
        text-align: right;
        .make-md-column(6);

        a {
            text-decoration: none;
            color: @janegray;

            &:active, &:hover {
                text-decoration: underline;
            }
        }

        .current {
            font-weight: 800;
        }

        .dashicons {
            font-size: 17px;
            line-height: 17px;
            width: 17px;
            height: 17px;
            vertical-align: middle;
            color: @purple;
        }

        .prev {
            .dashicons{
                transform: rotateY(180deg);
            }
        }

        

        &.pull-right{
            .make-md-column-offset(6);
        }
    }

    .results-row {
        .make-row();
    }

    .current-filters-row {
        .make-row();
    }
    



.search-story-container {
    .make-sm-column(6, 40px);    
    height: 200px;  //TODO watch carefully
    

    p {
        margin-bottom: 14.5px;
    }

    .date {
        &:extend(.published-date);
        margin: 15px 0 10px;        
    }

    .search-story-title {
        font-weight: 800;
        font-size: 22px;
        line-height: 1.2;
        color: @janegray;
        margin: 0 0 10px;

        @media (max-width: @screen-xs-min) { 
            font-size: 17px;
        }  



        a {
            color: @darkgray;
            font-family: inherit;
            font-size: inherit;
            letter-spacing: inherit;
            line-height: inherit;
            text-transform: none;

        }
    }

    hr {
         border:none;
        border-top:1px dotted @black;
        color:@white;
        background-color:@white;
        height:1px;
        width:100%;
    }

}

.search-header {
    &:extend(.archive-header);
    position: relative;

    h1{
        display: inline-block;
        margin-left: 10%;
        line-height: 150px;
        font-size: 60px;                
    }


            .search-widescreen {
                display: inline-block;
                position: relative;
                float: right;
                margin: 45px 30px 0;
                width: 300px;     
                
                input {
                    color: @janegray;
                }
                @media (max-width: @screen-xs-max) {                                        
                    right: 0;                        
                    bottom: -50px;

                }
            }

}

.search-thumbnail {
   &:extend(.archive-thumbnail);
}


    .uwaa-branding-search {
        .search {
            display: none;
            visibility: hidden;
        }
    }


}

