//Typography.less
body {
    font-size: 17px;
    line-height: 1.7;
}

h1, h2, h3, h4, {
   font-family: 'Merriweather', serif; 
}

p {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}

.published-date {    
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: @lightgray;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.title {
    font-weight: 900;
    font-size: 20px;
    line-height: 1.2;
    color: @janegray;
    margin: 0 0 2px 0;
}
