#search-drawer {
    position: absolute;

}

.drawer-toggle {
    position: relative;
}

.drawer-nav {
    background-color: aqua;
    position: relative;
}


.drawer-menu {
    li{
        .active {
            background-color: @purple;
        }
    }
}

.drawer-menu-item {
    display: inline;
}
.dropdown-toggle {
    display: inline;
}


.current-filter-wrapper {
    // display: none;  Will be hidden by default, and made visible with JS
    display: inline;

    &:before {
        content:  "|";
        padding: 0 10px;                
    }
    

    .filter-item {
        display: none;

        &.active {
            display: inline;
        }
        

            &:after {
                content: "x";  //make a glyph or whatever...
                padding: 0 10px; 
            }

            &:hover {
                background-color: @darkgold;
            }
        }
    }


.current-filter-wrapper-search {    

    &:before {
        content: none;        
    }
}