.blockquote p {
   font-family: 'Open Sans', sans-serif; 
   font-weight: 400;
   line-height: 1.4;

   @media (max-width: @screen-xs-max) { 
     line-height: 1.15;
    }


   &.quote-text {
    color: @janegray;
    font-size: 28px;
    line-height: 1.5;    
    margin-left: -85px;
    margin-right: -85px;
    font-family: "Merriweather", serif;
    font-weight: 800;
    margin-bottom: 20.5px;


    @media (max-width: @screen-lg-min) { 
     margin: 0;
     margin-bottom: 20.5px;
    }

    @media (max-width: @screen-sm-min) { 
     font-size: 23px;
     margin: 0;
     margin-bottom: 20.5px;
    }

    @media (max-width: @screen-xs-min) {        
       font-size: 18px;
       margin: 0;
       padding-right: 2px;
       margin-bottom: 20.5px;
    }
   }

span {
    color: @janegray;
    font-size: 81px;
    

    &.leftquote {    
    float: left;
    padding-right: 2px;
    padding-left: 3px;
    font-weight: 600;
    margin: -27px 0 35px -20px;    

    @media (max-width: @screen-sm-min) { 
    font-size: 77px;
     margin: -24px 0 35px 20px;
     padding-right: 2px;
    }

    @media (max-width: @screen-sm-max) { 
     margin-left: -10px;
    }

    @media (max-width: @screen-xs-min) {        
       font-size: 58px;
       margin: -17px 0 35px -20px;
       padding-right: 2px;
    }
   }

   &.rightquote {
    font-size: 30px;
    padding-right: 3px;
    padding-left: 2px;
    line-height: 1;

    @media (max-width: @screen-sm-min) { 
    font-size: 27px;     
     padding-left: 2px;
    }

    @media (max-width: @screen-xs-min) {        
       font-size: 20px;       
       padding-left: 2px;
    }



   }

}
   

   &.cutline {
    color: @lightgray;
    font-weight: 600;
    margin-top: -10px;
    font-size: 14px;
    text-align: right;
    text-transform: uppercase;
    padding-right: 4px;

    @media (max-width: @screen-sm-max) { 
     margin-top: 0;
    }

    @media (max-width: @screen-sm-min) { 
    padding-right: 22px;
    }
   }
}