.blockquote p {
   font-family: 'Open Sans', sans-serif; 
   font-weight: 400;
   line-height: 1.4;

   @media (max-width: @screen-xs-max) { 
     line-height: 1.15;
    }


   &.quote-text {
    color: @purple;
    font-size: 36px;
    margin-left: -120px;
    margin-right: -120px;

    @media (max-width: @screen-sm-max) { 
     margin: 0 0 15px 0;
    }
   }

span {
    color: @purple;
    font-size: 100px;
    

    &.leftquote {    
    float: left;
    padding-right: 8px;
    padding-left: 3px;
    font-weight: 600;
    margin-top: -26px;

    @media (max-width: @screen-sm-max) { 
     margin-left: -10px;
    }
   }

   &.rightquote {
    font-size: 36px;
    padding-right: 3px;
    padding-left: 8px;

   }

}
   

   &.cutline {
    color: @lightgray;
    font-weight: 600;
    margin-top: -10px;
    font-size: 14px;
    text-align: right;
    text-transform: uppercase;

    @media (max-width: @screen-sm-max) { 
     margin-top: 0;
    }
   }
}