.columns-feature-container {
    width: 600px;
}


.headline-image {
    height: 670px;
    background-color: @janegray;

    &:after {
        height: 100%;
        content: 'Feature';        
        text-align: center;
    }
}

.feature-title {
    font-weight: 900;
    font-size: 50px;
    line-height: 1.2;
    color: @janegray;
    margin-bottom: 14px;

    /* Medium devices (desktops, 992px and up) */
  @media (min-width: @screen-lg-min) { 
  margin-left: -120px;  
 }

}

.byline {
    font-weight: 600px;
    font-size: 12px;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: @lightgray;
    margin-bottom: 40px;
}


p {
    font-family: 'Merriweather', serif; 
    font-weight: 400;
    font-size: 17px;
    line-height: 1.7;
    color: @janegray;
    margin-bottom: 40px;   
}

.columns-feature>p:first-child{    
        

    &:first-letter { 
    float: left;
    color: @purple;
    font-size: 100px;
    line-height: 84px;    
    padding-right: 8px;
    padding-left: 3px;   
    }
}

.final-byline, .teaser-intro {
    font-style: italic;
    font-style: 16px;
    line-height: 1.7;
    color: @lightgray;
}



@import "inline-images.less";
@import "block-quote.less";