//Inline Images
.wp-caption {


    &.alignright {
        margin: 10px -120px 20px 15px;
    }

    &.alignleft {
        margin: 10px 15px 20px -120px;
    }
}

.wp-caption-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.2;
    text-transform: uppercase;
    color: @lightgray;
}


//On mobile, photos to fill columns and center caption