// 50/50 Split column Layout

.split-left, .split-right {    
    .make-sm-column(6);
    min-height: 300px;
    margin-bottom: 15px; 
    padding-right: 0;
    padding-left: 0;

    @media (max-width: @screen-sm-max) { 
     margin-bottom: 0;
    }


    p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 36px;
    text-align: left;
    padding: 15px 15px 10px 30px;
    margin: 0 auto;
    
}

    .split-copy-container {
        min-height: 300px;    
    }

    .split-img-container {                
        background-size: auto auto;
        min-height: 300px;
        background-repeat: no-repeat;
        background-origin: border-box;
        
    }   //responsive this gets smaller
}

.split-left .split-img-container {
    // background-position: center right;
}

.split-right .split-img-container {
    // background-position: center left;
}

.split-feature-row{
    margin-top: 15px;
    margin-bottom: 15px;    

}

